<div class="relative bg-white" x-data="{ mobileMenuOpen: false }">
  <div class="px-4 mx-auto sm:px-6">
    <div class="flex items-center justify-between py-6 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start truncate lg:flex-1">
        <h1 class="text-xl font-bold truncate">{{shop.name}}</h1>
      </div>

    <!-- Mobile View: CREATE THE HAMBURGER MENU BUTTON -->
    <div class="ml-3 -my-2 -mr-2 md:hidden">
        <button  type="button" class="inline-flex items-center justify-center p-2 bg-white focus:outline-none" x-on:click="mobileMenuOpen = true">
            {% render 'icon-menu' %}
        </button>
    </div>


      <!-- NAVIGATION MENU -->
      <nav  class="hidden space-x-10 md:flex">
        {% for link in linklists.main-menu.links %}
            {% if link.links != blank  %}
                {% assign link_handle = link.handle | replace: '-','_' %}
                <div x-data="{ {{link_handle}}: false}" class="relative ">
                    
                    <button x-on:click="{{link_handle}} = ! {{link_handle}}" type="button" class="inline-flex items-center text-base text-gray-500 hover:text-red-900 hover:text-bold ">
                       {{link.title}} {% render 'icon-dropdown' %} 
                    </button>

                    {%  comment  %} DropDown Menu Button: Start {% endcomment %} 
                    <div x-show="{{link_handle}}" @click.away="{{link_handle}} = false" class="absolute z-10 w-screen max-w-md px-2 mt-5 -ml-5 transform sm:px-0 lg:ml-0 lg:left-0">
                        <div class="overflow-hidden border rounded-lg shadow-lg ring-black ring-opacity-3">
                            <div class="relative grid gap-2 px-2 py-2 bg-white sm:gap-3 sm:p-3">
                                <!-- CREATE THE SUBLINK -->
                                {% for childlink in link.links %}

                                <a href="{{ childlink.url }}" class="flex rounded-lg items start hover:bg-gray-100 ">
                                    <div class="ml-3">
                                        <p class="text-base font-medium text-gray-900">
                                            {{ childlink.title }}
                                        </p>
                                    </div>
                                </a>

                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                    {%  comment  %} DropDown Menu Button: End {% endcomment %}
                </div>
            {% else %}
                
                <div class="relative ">
                    <a href="{{link.url}}" class="text-base text-gray-500 hover:text-gray-900 
                       {% if link.active == true %}text-red-900 text-bold{% endif %}">
                        {{link.title}}
                    </a>
                </div>
            {% endif %}

        {% endfor %}   
      </nav>

      <div class="items-center justify-end hidden space-x-5 md:flex md:flex-1">
        <a href="{{routes.cart_url}}" class="text-base text-gray-500 whitespace-nowrap hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
        <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
      </div>
    </div>
  </div>


    <!-- MOBILE MENU CONTAINER -->
 
    <div class="absolute inset-x-0 top-0 z-10 p-2 origin-top-left transform md:hidden"  x-show="mobileMenuOpen"  >
        <div class="w-full bg-white rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
            <div class="p-5 divide-y-2 divide-gray-50">

                <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
                <div class="flex items-center justify-between pb-3">
                    <div>
                        <h1 class="text-lg text-gray-500"> {{section.settings.mobile_menu_title}} </h1> <!--  {{shop.name}}-->
                    </div>
                    <div class="-mr-2">
                        <button x-on:click="mobileMenuOpen = false" type="button" class="p-2 text-gray-500 bg-white rounded-md">
                            {% render 'icon-close' %}
                        </button>
                    </div>
                </div>

                <!-- NAVIGATION LINKS FOR MOBILE MENU -->
                <div class="pt-3">
                    <nav class="grid gap-y-7">

                        {% for link in linklists.main-menu.links %}
                            {% if link.links != blank  %}
                                {% assign link_handle = link.handle | replace: '-','_' %}
                                <div x-data="{ {{link_handle}}: false }" class="relative">

                                    <button x-on:click="{{link_handle}} = ! {{link_handle}}" type="button" class="flex items-center justify-between w-full text-base text-gray-500 hover:text-gray-900">
                                        <div>{{link.title}}</div>
                                        {% render 'icon-dropdown' %} 
                                    </button>
                                    <!-- CREATE THE SUBLINK -->
                                    
                                    <div class="grid py-0 gap-y-0">
                                        {% for childlink in link.links %}
                                            <a href="#" x-show="{{link_handle}}" @click.away="{{link_handle}} = false"  class="flex items-center p-3 mt-2 -m-3 text-gray-500 rounded-md hover:text-gray-900 hover:bg-gray-50">
                                                <span class="ml-3 text-base font-medium text-gray-500">{{ childlink.title }}</span>
                                            </a>
                                        {% endfor %} 
                                    </div>
                                        
                                      
                                </div>

                            {% else %} 
                                <a href="{{link.url}}" class="flex items-center p-3 -m-3 text-gray-500 rounded-md hover:text-gray-900 hover:bg-gray-50
                                   {% if link.active == true %}text-red-900 text-bold{% endif %}">
                                    {{link.title}}
                                </a>

                            {% endif %} 
                        {% endfor %} 


 


                    </nav>
                </div>
            </div>
        </div>
    </div>


</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type":"text",
            "id":"mobile_menu_title",
            "label":"Title for mobile view",
            "default":"Menu",
            "info":"This is the title of the mobile menu window"
        }
    ]
}
{% endschema %}