

<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'article_title' %}
                <div class="flex items-center justify-center">
                    <div class="text-center max-w-7xl">
                        <a href="{{ blog.url }}" class="text-base font-bold text-gray-500 uppercase hover:text-gray-900">{{ blog.title }}</a>
                        <h1 class="text-4xl font-medium md:text-6xl" itemprop="headline">{{ article.title }}</h1>
                    </div>
                </div>
            {% when 'article_author' %}
                <div class="flex items-center justify-center">
                    <div class="text-center max-w-7xl" itemscope itemtype="http://schema.org/Person">
                        {% if section.settings.enable_author %}
                            <small itemprop="author">{{ article.author }}</small>
                        {% endif %}
                    </div>
                </div>
            {% when 'article_published_date' %}
                <div class="flex items-center justify-center">
                    <div class="text-center max-w-7xl">
                        {% if section.settings.enable_published_date %}
                            <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'on_date' }}</time>
                        {% endif %}
                    </div>
                </div>
            {% when 'featured_image' %}
                <div itemprop="image" class="mx-2 my-4 overflow-hidden bg-blue-100 rounded-lg max-w-7xl md:mx-auto">
                    {% if article.image != blank %}
                        <img class="object-cover object-center w-full h-80 md:h-96" src="{{ article.image | img_url: 'large'}}" alt="{{ article.image.alt }}">
                    {% else %}
                        {% assign placeholder_image = 'lifestyle-1' %}
                        {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
                    {% endif %}
                </div>
                
            {% when 'article_content' %}
                <div class="flex items-center justify-center">
                    <div itemprop="articleBody" class="max-w-4xl px-2 text-justify">
                        {{ article.content }}
                    </div>
                </div> 
            {% else %}
        {% endcase %}
    {% endfor %}
</article>


{% if blog.comments_enabled? %}
    <div id="comments" class="my-8">
        <!-- https://github.com/polidario/Elizabeth/blob/main/sections/template-article.liquid -->
        {% if article.comments_count > 0 %}

            <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">
                <h1 class="mb-4 text-lg font-medium">See what people are saying</h1>

                {% paginate article.comments by 5 %}
                    {% for comment in article.comments %}
                        <div class="flex-1 px-4 py-2 my-4 leading-relaxed border sm:px-6 sm:py-4">
                            <span class="comment-author">{{ comment.author }}</span> <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
                            <p class="text-sm">{{ comment.content }}</p>
                        </div>
                    {% endfor %}

                    <div class="max-w-6xl mx-auto">
                        {% render 'pagination', pagination: paginate %}
                    </div>
                {% endpaginate %}
            </div>

         




        {% else %} 
            <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">
                <p>There are no comments in this article</p> 
            </div> 
        {% endif %}
    </div>

    <div id="comment_form" class="mb-8">
        {% form 'new_comment', article, action: article.url, method: 'post' %}
            <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">

                    {% if form.errors %}
                        <div class="p-5 border">
                            <div class="flex flex-row items-center w-full my-3">
                                <div class="text-red-500">
                                    {% render 'icon-failed' %}
                                </div>
                                <div class="ml-3 text-sm font-medium">
                                    Oh no! Your comment was not posted
                                </div>
                            </div>
                            <ul class="px-4 mb-3 list-decimal ml-7">
                                {% for error in form.errors %}
                                    <li>
                                        <span>{{ form.errors.messages[error] }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% elsif form.posted_successfully? %}
                        <div class="flex flex-row items-center w-full p-5 my-3">
                            <div class="text-green-500">
                                {% render 'icon-success' %}
                            </div>
                            <div class="ml-3 text-sm font-medium">Comment is posted successfully</div>
                        </div>
                    {% endif %}



                <div class="px-1 mb-3 md:flex">
                    <div class="px-3 md:w-1/2">
                        <label for="comment_author" class="mb-2 text-xs font-medium text-gray-700 uppercase">Name</label>
                        <input 
                            type="text" 
                            name="comment[author]" 
                            id="comment_author" 
                            class="w-full px-4 py-3 mb-3 text-gray-700 border "
                            placeholder="Jane Doe"
                            required
                        >
                    </div>
                    <div class="px-3 md:w-1/2">
                        <label for="comment_email" class="mb-2 text-xs font-medium text-gray-700 uppercase">Email</label>
                        <input 
                            type="email" 
                            name="comment[email]" 
                            id="comment_email" 
                            class="w-full px-4 py-3 mb-3 text-gray-700 border "
                            placeholder="jane@doe.com"
                            required
                        >
                    </div>
                </div>   

                <div class="px-1 mb-3 md:flex">
                    <div class="px-3 md:w-full">
                        <label for="comment_content" class="mb-2 text-xs font-medium text-gray-700 uppercase">Comment</label>
                        <textarea class="w-full h-20 px-3 py-2 text-gray-700 border resize-none " name="comment[body]" id="comment_content" required></textarea>
                    </div>
                </div>
                <div class="px-1 mb-3 md:flex">
                    <div class="px-3 md:w-full">
                        <input type="submit" class="w-full px-4 py-2 text-base font-medium text-white bg-gray-900 border cursor-pointer hover:bg-gray-500" value="Post comment">
                    </div>
                </div>

            </div>     
        {% endform %}   
    </div> 
{% endif %}








{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": false,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}