<div class="py-8">
    <h1 class="text-3xl text-center">{{ blog.title }}</h1>

    <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                {% paginate blog.articles by section.settings.number_of_blog_posts %}
                    {% for article in blog.articles %}
                        <div class="w-full px-3 py-6">
                            <div class="overflow-hidden bg-white rounded-lg shadow-xl center-justify">
                                {% if article.image %}
                                    <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'w-20' }}
                                {% endif %}


                                <div class="p-3">
                                    <h1>{{ article.title }}</h1>
                    
                                    {% if article.excerpt.size > 0 %}
                                        <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                                    {% else %}
                                        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                                    {% endif %}

                                    <strong>
                                        <a href="{{ article.url }}" class="block my-4 font-medium text-blue-600 text-blue-800 hover:">{{ section.settings.blog_read_more }}</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="max-w-6xl mx-auto">
                        {% render 'pagination', pagination : paginate %}
                    </div>
                {% endpaginate %}
            </div> 
    </div> 


    
</div>   

{% schema %}
    {
        "name": "Blog",
        "settings": [
            {
                "type": "text",
                "id": "blog_read_more",
                "label": "Read more label",
                "default": "Read more"
            },
            {
                "type": "range",
                "id": "number_of_blog_posts",
                "step": 1,
                "min": 1,
                "max": 6,
                "label": "Blog posts per page",
                "default": 3
            }
        ]
    }
{% endschema %}